/*
* Brooklyn Template Colors 
* Copyright 2013, UNITED THEMES
* www.unitedthemes.com
*/
::-moz-selection  {
	color: #FFFFFF;
	background: #00328e;
}
::selection {
	color: #FFFFFF;
	background:#00328e;
}

.toppp {
	background-color: #fff !important;
	padding: 23px;
}
a { 
	color: #00328e; 
}
.selected {
	color: #00328e !important;
}
strong { color: #00328e; }
blockquote, blockquote p { color: #00328e; }
.icons-ul i { color:#00328e; }
.ha-header nav a:hover {
	color: #00328e;
}
.hero-title span {
	color:#00328e;
}
.about-icon {
	background:#00328e;
}
.info h3 {
	color:#00328e;
}
.cta-section {
	background:#00328e !important;
}
.contact-wrap h3 {
	color:#00328e;
}
.social-title {
	color:#00328e;
}
.count {
	color:#f1c40f;
}
.client-section {
	background:#00328e !important;	
}
.footer i {
	color:#00328e;
}
.copyright a:hover {
	color:#00328e;
}
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
	background:#00328e;
}
.social-link:hover .social-icon,
.portfolio-caption {
	background:rgb(241, 196, 15);
	background:rgba(241, 196, 15, 0.85);
}